[user]
	name = Rafael Raba
	email = rafaelrb40@gmail.com
[core]
	pager = delta --dark
[interactive]
	diffFilter = delta --dark --color-only
[delta]
	features = kanagawa-dragon
	dark = true
	side-by-side = true
	navigate = true
[delta "kanagawa-dragon"]
	dark = true
	syntax-theme = Nord
	file-decoration-style = "#8ba4b0" ul
	file-style = bold "#8ba4b0"
	file-added-label = [+]
	file-modified-label = [~]
	file-removed-label = [-]
	file-renamed-label = [→]
	hunk-header-decoration-style = "#393836" box
	hunk-header-file-style = "#c5c9c5"
	hunk-header-line-number-style = bold "#c4b28a"
	hunk-header-style = file line-number syntax
	minus-style = syntax "#3d2626"
	minus-emph-style = syntax "#5c3535"
	plus-style = syntax "#26332a"
	plus-emph-style = syntax "#35523d"
	map-styles = bold purple => syntax "#3d3644", bold blue => syntax "#2f3a47", bold cyan => syntax "#2f4347", bold yellow => syntax "#4a4235"
	width = variable
	line-numbers = true
	line-numbers-left-format = "{nm:>4} "
	line-numbers-right-format = "│ {np:>4} "
	line-numbers-left-style = "#c4746e"
	line-numbers-right-style = "#8ea4a2"
	line-numbers-minus-style = "#c4746e"
	line-numbers-plus-style = "#8ea4a2"
	line-numbers-zero-style = "#737c73"
	inline-hint-style = syntax "#393836"
	whitespace-error-style = "#c4746e" reverse
	blame-format = "{author:<15} {timestamp:>15} {commit:<8} │ "
	blame-palette = "#181616" "#12120f" "#0d0c0c" "#1D1C19" "#282727"
	blame-separator-format = "│{n:^4}│"
	blame-separator-style = "#393836"
	blame-timestamp-format = "%Y-%m-%d"
	commit-decoration-style = bold "#a292a3" box ul
	commit-style = bold "#a292a3"
	merge-conflict-begin-symbol = ▼
	merge-conflict-end-symbol = ▲
	merge-conflict-ours-diff-header-style = bold "#c4b28a"
	merge-conflict-ours-diff-header-decoration-style = "#c4b28a" box
	merge-conflict-theirs-diff-header-style = bold "#8ba4b0"
	merge-conflict-theirs-diff-header-decoration-style = "#8ba4b0" box
