[user]
	name = Rafael Raba
	email = rafael.rabamoreno@mercadolibre.com.co
[core]
	pager = delta --dark
[interactive]
	diffFilter = delta --dark --color-only
[delta]
	features = kanagawa-dragon
	dark = true
	side-by-side = true
	navigate = true
[delta "kanagawa-dragon"]
	dark = true
	syntax-theme = Nord
	file-decoration-style = "#8ba4b0" ul
	file-style = bold "#8ba4b0"
	file-added-label = [+]
	file-modified-label = [~]
	file-removed-label = [-]
	file-renamed-label = [→]
	hunk-header-decoration-style = "#393836" box
	hunk-header-file-style = "#c5c9c5"
	hunk-header-line-number-style = bold "#c4b28a"
	hunk-header-style = file line-number syntax
	minus-style = syntax "#3d2626"
	minus-emph-style = syntax "#5c3535"
	plus-style = syntax "#26332a"
	plus-emph-style = syntax "#35523d"
	map-styles = bold purple => syntax "#3d3644", bold blue => syntax "#2f3a47", bold cyan => syntax "#2f4347", bold yellow => syntax "#4a4235"
	width = variable
	line-numbers = true
	line-numbers-left-format = "{nm:>4} "
	line-numbers-right-format = "│ {np:>4} "
	line-numbers-left-style = "#c4746e"
	line-numbers-right-style = "#8ea4a2"
	line-numbers-minus-style = "#c4746e"
	line-numbers-plus-style = "#8ea4a2"
	line-numbers-zero-style = "#737c73"
	inline-hint-style = syntax "#393836"
	whitespace-error-style = "#c4746e" reverse
	blame-format = "{author:<15} {timestamp:>15} {commit:<8} │ "
	blame-palette = "#181616" "#12120f" "#0d0c0c" "#1D1C19" "#282727"
	blame-separator-format = "│{n:^4}│"
	blame-separator-style = "#393836"
	blame-timestamp-format = "%Y-%m-%d"
	commit-decoration-style = bold "#a292a3" box ul
	commit-style = bold "#a292a3"
	merge-conflict-begin-symbol = ▼
	merge-conflict-end-symbol = ▲
	merge-conflict-ours-diff-header-style = bold "#c4b28a"
	merge-conflict-ours-diff-header-decoration-style = "#c4b28a" box
	merge-conflict-theirs-diff-header-style = bold "#8ba4b0"
	merge-conflict-theirs-diff-header-decoration-style = "#8ba4b0" box

[delta "lazygit-gruvbox"]
	dark = true
	syntax-theme = gruvbox-dark
	side-by-side = false
	line-numbers = true
	width = variable
	file-style = bold "#d8a657"
	file-decoration-style = "#504945" ul
	hunk-header-style = file line-number syntax
	hunk-header-file-style = bold "#d4be98"
	hunk-header-line-number-style = bold "#d8a657"
	hunk-header-decoration-style = "#3c3836" box
	minus-style = syntax "#3c1f1e"
	minus-emph-style = syntax bold "#5a2a28"
	plus-style = syntax "#26351f"
	plus-emph-style = syntax bold "#3d4f2a"
	line-numbers-left-style = "#ea6962"
	line-numbers-right-style = "#a9b665"
	line-numbers-minus-style = "#ea6962"
	line-numbers-plus-style = "#a9b665"
	line-numbers-zero-style = "#665c54"
	inline-hint-style = syntax "#3c3836"
	whitespace-error-style = "#ea6962" reverse
	map-styles = bold purple => syntax "#3d3139", bold blue => syntax "#293b3a", bold cyan => syntax "#293f3c", bold yellow => syntax "#43371f"
[trace2]
	eventTarget = af_unix:stream:/Users/rrabamoreno/.git-ai/internal/daemon/trace2.sock
	eventNesting = 10
